<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <title>About Rufus</title>
</head>
<body>
    <h1>About the Goodest Boy Rufus</h1>
    <p>Rufus is a rescue doggo. His owner prides in him being the goodest boy.</p>
    <p>Likes: treats, walks, carrying big sticks</p>
    <p>Dislikes: strangers, strange sounds (thunder! so spoop!)</p>
</body>
</html>