<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <title>Rufus Fan Klub</title>
</head>
<body>
    <h1>This is the home page of the Rufus Fan Klub.</h1>
    <ul>
        <li><a href="/about">About The Good Boy Rufus.</a></li>
        <li><a href="/works">The Works of The Good Boy Rufus.</a></li>
        <li><a href="/photo-gallery">Photos Of The Good Boy Rufus*</a></li>
    </ul>   
</body>
</html>